= form_with model: [@group, @message], local: true do |f|
  .messages
    .messagesContent
      .messagesContentBox
        - if @messages.present?
          - @messages.each do |m|
            -if m.user_id == current_user.id
              .messagesContentBoxRight
                = m.message
            - else
              .messagesContentBoxLeft
                = m.message
    .messagesForm
      .messagesFormField
        = f.text_area :message, class:"messagesFormFieldArea"
      .messagesFormSubmit
        = f.submit class:"messagesFormSubmitBtn", value: "送信"