= form_with model: [@group, @message], local: true do |f|
  .messages
    .messagesContent#scroll-inner
      .messagesContentBox
        - if @messages.present?
          - @messages.each do |m|
            -if m.user_id == current_user.id
              .messagesContentBoxRight
                .messagesContentBoxRightText
                  = m.message
                -if m.image.present?
                  .messagesContentBoxRightImage
                    = image_tag m.image.url, class:"messagesContentBoxRightImageUrl"
                = image_tag m.user.icon.url, class:"messagesContentBoxRightIcon"
            - else
              .messagesContentBoxLeft
                = image_tag m.user.icon.url, class:"messagesContentBoxLeftIcon"
                .messagesContentBoxLeftText
                  = m.message
                -if m.image.present?
                  .messagesContentBoxRightImage
                    = image_tag m.image.url, class:"messagesContentBoxRightImageUrl"
    .messagesForm
      .messagesFormField
        = f.text_area :message, class:"messagesFormFieldArea"
      %label
        %i.far.fa-image
          = f.file_field :image, class:"fa-imageFile"
      .messagesFormSubmit
        = f.submit class:"messagesFormSubmitBtn", value: "送信"