= form_with model: @live, local: true do |f|
  .liveNewTitle
    新規スケジュールの作成
  .liveNewBox
    .liveNewBoxName
      アーティスト名
    .liveNewBoxForm
      = f.collection_select :artist_id, Artist.all, :id, :name, include_blank: "選択してください"
  .liveNewBox
    .liveNewBoxName
      LIVEタイトル
    .liveNewBoxForm
      = f.text_field :title, class:"liveNewBoxFormField"
  .liveNewBox
    .liveNewBoxName
      日程
    .liveNewBoxForm
      = f.date_select :date, {include_blank: true, use_month_numbers: true}
  .liveNewBox
    .liveNewBoxName
      チケット代
    .liveNewBoxForm
      = f.text_field :fee, class:"liveNewBoxFormField"
  .liveNewBox
    .liveNewBoxName
      会場
    .liveNewBoxForm
      = f.text_field :venue, class:"liveNewBoxFormField"
  .liveNewBox
    .liveNewBoxName
      座席
    .liveNewBoxForm
      = f.text_field :seat, class:"liveNewBoxFormField"
  .liveNewBox
    .liveNewBoxName
      その他（メモ等）
    .liveNewBoxForm
      = f.text_field :information, class:"liveNewBoxFormField"
  .submitBox
    = f.submit class:"submitBoxBtn", value: "スケジュールを保存する"