!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title LiveTraveller
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      .headerTop
        .headerTopLogo
          =link_to root_path do
            =image_tag "logo.png"
        %i.fas.fa-bars#drawrBtn
      .headerBottom
        .headerBottomBox
          =link_to "スケジュール予約", new_life_path, class:"headerBottomBoxBtn"
          =link_to "アーティスト登録", new_artist_path, class:"headerBottomBoxBtn"
          =link_to "グッズ", new_good_path, class:"headerBottomBoxBtn"
          =link_to "ログイン", new_user_session_path, class:"headerBottomBoxBtn"
          =link_to "新規登録", new_user_registration_path, class:"headerBottomBoxBtn"
    .drawr
      .drawrTop
        %i.far.fa-window-close#closeBtn
        - if @user.icon.present?
          = image_tag @user.icon.url, class:"drawrTopImage"
        - else
          = image_tag "カメラアイコン.png", class:"drawrTopImage"
    .main
      .mainContent
        = yield
