!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title LiveTraveller
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      .headerTop
        .headerTopLogo
          =image_tag "logo.png"
      .headerBottom
        .headerBottomBox
          =link_to "スケジュール予約", new_life_path, class:"headerBottomBoxBtn"
          =link_to "テスト", "#", class:"headerBottomBoxBtn"
          =link_to "テスト", "#", class:"headerBottomBoxBtn"
          =link_to "テスト", "#", class:"headerBottomBoxBtn"
          =link_to "テスト", "#", class:"headerBottomBoxBtn"
          =link_to "テスト", "#", class:"headerBottomBoxBtn"
    .main
      .mainContent
        = yield
